# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
.venv/
venv/
env/
ENV/

# Jupyter / IPython
.ipynb_checkpoints/

# Logs
logs/
*.log
*.csv

# Model Weights (IMPORTANT)
*.pt
*.pth
*.onnx
*.ckpt

# Cache / Temp
.cache/
*.cache
*.tmp
*.temp

# OS Files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Torch Hub Cache (optional)
# If you ever store locally
# torch hub models
*.hub

# Data (if you add later)
data/
datasets/

# Environment variables
.env

# csv
*.cvs